#start_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/home-bg-lg.jpg");
    background-size: cover;
}

#start_sidetext {
    position: absolute;
    color: rgba(255, 255, 255, 0.25);
    font-family: 'Oswald', sans-serif;
    top: 12rem;
    width: 35vh;
    left: -12vh;
    font-size: 1.5rem;
    transform: rotate(-90deg);
}


/*--------Nav----------*/

#start_nav {
    height: 5vh;
    /*background-color: red;*/
    z-index: 5;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem;
}

#start_hero {
    margin-left: 6rem;
    margin-top: 2rem;
    width: 25vw;
    /*background-color: red;*/
}

#start_hero__h1 {
    color: rgba(255, 255, 255, 0.95);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

#start_hero__h2 {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Mukta', sans-serif;
}

/*---------------search----------*/

#start_search {
    /*background-color: red;*/
    margin-top: 5rem;
    margin-left: 1.5rem;
    display: flex;
    cursor: pointer;

}

#start_search_svg {
    fill: rgba(255, 255, 255, 0.85);
    width: 2rem;
    height: 2rem;
}

#start_search_container:hover #start_search_svg {
    fill: #3bfaf8;

}

#start_form {
    margin-left: 1rem;
}

#start_form_input {
    background-color: transparent;
    outline: none;
    height: 2rem;
    color: white;
    padding-left: 10px;
    border: none;
    width: 15rem;
    border-bottom: 2px solid teal;
    animation: border_appear 0.8s linear;
}


@keyframes border_appear {
    0% {
        width: 1rem;
    }
    100% {
        width: 15rem;
    }
}

#start_form_submit {
    width: 4rem;
    height: 2rem;
    color: teal;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    animation: appear 0.8s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }

}

#start_about {
    margin-left: auto;
}

.hide {
    display: none;
}

/*------------------------------------------------------------Mobile--------------------------------------------------------*/
@media screen and (max-width: 670px) {

    #start_sidetext {
        position: absolute;
        color: rgba(255, 255, 255, 0.25);
        font-family: 'Oswald', sans-serif;
        top: 10rem;
        width: 14rem;
        left: -5rem;
        font-size: 1.2rem;
        transform: rotate(-90deg);
    }


    /*--------Nav----------*/
    #start_nav {
        height: 3rem;
        /*background-color: red;*/
        z-index: 5;
        color: rgba(255, 255, 255, 0.9);
        font-family: 'Oswald', sans-serif;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 1rem;
    }

    #start_hero {
        margin-left: 4rem;
        margin-top: 3rem;
        width: 50vw;
        /*background-color: red;*/
    }

    #start_hero__h1 {
        color: rgba(255, 255, 255, 0.95);
        font-size: 1.2rem;
        font-family: 'Oswald', sans-serif;
    }

    #start_hero__h2 {
        margin-top: 1rem;
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Mukta', sans-serif;
    }

    /*---------------search----------*/
    #start_search {
        /*background-color: red;*/
        margin-top: 5rem;
        margin-left: 1rem;
        display: flex;

    }

    #start_search_svg {
        fill: rgba(255, 255, 255, 0.85);
        width: 1.5rem;
        height: 1.5rem;
    }

    #start_search_container:hover #start_search_svg {
        fill: #3bfaf8;

    }

    #start_form {
        margin-left: 1rem;
    }

    #start_form_input {
        background-color: transparent;
        outline: none;
        height: 1.5rem;
        color: white;
        padding-left: 10px;
        border: none;
        width: 10rem;
        border-bottom: 2px solid teal;
        animation: border_appear 0.6s linear;
    }


    @keyframes border_appear {
        0% {
            width: 1rem;
        }
        100% {
            width: 10rem;
        }
    }

    #start_form_submit {
        width: 4rem;
        height: 1.5rem;
        color: teal;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        border-radius: 5px;
        animation: appear 0.6s linear;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }

    }

    .hide {
        display: none;
    }

}


